*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

# Gradle bits from: https://github.com/github/gitignore/blob/master/Gradle.gitignore
.gradle
gradlew*
gradle/
build/
